.IconSet {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.Icon {
  font-size: 32px;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: 500ms ease;

  &:hover {
    box-shadow: 0px 0px 9px 1px rgba(62,175,124,0.529);
  }
}
.InfoModel {
  right: 16px;
  width: auto;
}
.Cat {
  text-align: center;
}
